* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'FerroRosso';
    src: url('./fonts/FerroRosso.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #ffffff;
    color: white;
}



header {
    position: sticky;
    top: 0;
    overflow: hidden;
    box-shadow: 1px 1px 80px 20px rgb(0, 0, 0);
    background-color: #ffffff;
    opacity:0.7;
    z-index: 3;  
    
}

#header {
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo {
    font-weight: bold;
    font-size: 24px;
    font-family: 'FerroRosso', sans-serif;
}

.logo img {
    width: 50px;

}
  
.nav-links a {
    color: rgb(0, 0, 0);
    margin-left: 20px;
    text-decoration: none;
    font-size: 25px;
    padding-left: 50px;
    font-weight: bold;
    
}

.container {
    display: flex;
    flex-direction: column;
}
  
#hero {
    background: linear-gradient(90deg,rgba(128, 0, 0, 1) 0%, rgba(155, 1, 1, 1) 26%, rgba(173, 0, 0, 1) 50%, rgba(212, 0, 0, 1) 75%, rgba(255, 0, 0, 1) 100%);
    display: flex;
    padding-top: 90px;
    padding-bottom: 90px;
}
  
.hero-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative; 
    max-width: 1400px;
    margin: 0 auto;
    
}

.hero-text {
    position: relative; 
    z-index: 2;
    color: #ffffff;
    padding: 70px;
}

.hero-text h1 {
    font-size: 80px;    
    font-family: 'Anton', sans-serif;
    padding-bottom: 20px;
    text-shadow: 10px 10px 4px #000000;
}

.hero-text p {
    font-size: 20px;
    padding: 14px 0px 0px 0px;
    font-family: 'Oswald', sans-serif;
}

.hero-text button {
    font-size: 20px;
    padding: 10px;
    margin-top: 30px;
    border-radius:20px ;
    background-color: rgba(128, 0, 0, 1);
    color: #ffffff;
    border-color: white;
}

.hero-image {
    position: relative;
    justify-content: center;
    margin-left: -500px;
    padding-top: 70px;
    padding-top: 20px;
    max-width: 100%;
    display: flex;
    z-index: 1;
    
}

.hero-image img {
    display: block;
    height: auto;
    width: 100%;
    max-width: 700px;
}

@media (max-width: 1140px) {
    
    #hero {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hero-text {
        padding: 50px;
    }

    .hero-image {
        margin-left: 0;
    }
}

/* about page */

#about {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
 
}

#about h1 {
    padding-top: 30px;
    font-size: 40px;

}

.about-desc {
    background-image: url(./images/ferrari-125-f1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover; 
    background-position: center; 
    min-height: 300px; 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 3px #000000;
    text-align: center;
    
}


.about-desc p {
    font-size: 30px;
    padding: 100px;
    font-family: 'Oswald', sans-serif;

}


.about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-card {
    width: 400px;
    margin: 20px;
}

.about-card img {
    width: 400px;
    height: 300px;
    gap: 20px;
    padding: 20px;
    border: #000000;
    
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 40px; */
}

.about-card p, .about-card h4 {
    padding: 0px 20px 20px 20px;
    text-align: justify;
    
}

.about-card P {
    font-size: 20px;
    font-family: sans-serif;
}

.about-card h4 {
    font-size: 30px;
    font-family: 'Oswald', sans-serif;

}

#quote {
    background: radial-gradient(circle,rgba(255, 0, 0, 1) 4%, rgba(204, 0, 0, 1) 24%, rgba(173, 0, 0, 1) 43%, rgba(125, 0, 0, 1) 73%);
    justify-content: center;
    display: flex;
    padding: 150px 100px 100px 100px;
}

.quote-container {
    display: inline-block;
    position: relative;
    padding: 20px 40px;
    margin: 70px auto;
    border-radius: 10px;
    box-shadow: 7px 13px 29px 0px rgba(60,0,0,0.77);
    overflow: visible; /* allow image to break out */
}

.quote-text {
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    color: white;
    max-width: 1000px;
    padding: 100px 100px 100px 0px;
    z-index: 2;
    position: relative;
    align-self: flex-start;
}

.quote-text p {
    font-size: 20px;
    padding: 20px 20px 0px 0px;
}


.quote-img {
    position: absolute;
    right: 10px;    
    top: -115px;     
    z-index: 1;     
}

.quote-img img { 
    width: 290px;
    height: auto;
    transform: scaleX(-1);
}

footer {
    background-color: black;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 50px;
}